@page "/creategoal"
@attribute [Authorize]

<h3>CreateGoal111</h3>
<br />


<EditForm EditContext="@editContext" OnValidSubmit="CreateCurrentGoal" style="max-width : 600px">
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <InputDate id="startDate" @bind-Value="totalGoalBuilder.startDate" class="form-control"></InputDate>
    </div>

    <div class="form-group">
        <label for="duration">Duration</label>
        <InputNumber id="duration" @bind-Value="totalGoalBuilder.duration" class="form-control"></InputNumber>
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <InputDate id="endDate" @bind-Value="totalGoalBuilder.endDate" class="form-control"></InputDate>

    </div>

    <div class="form-group">
        <label for="week">Days</label><br />
        <InputRadioGroup id="week" @bind-Value="totalGoalBuilder.calendarValue" class="form-control">
            <InputRadio Value="0" /><span style="padding-left:5px;"> All days</span>
            <InputRadio Value="1" /><span style="padding-left:5px;"> Working Days</span>
            <InputRadio Value="2" /><span style="padding-left:5px;"> Custom</span>
        </InputRadioGroup>
    </div>

    <div class="form-group">
        <label for="monday">
            Monday
            <InputCheckbox disabled="@daysAreDisabled" id="monday" @bind-Value=totalGoalBuilder.Monday class="form-check"></InputCheckbox>
        </label>
        <label for="tuesday">
            Tuesday
            <InputCheckbox disabled="@daysAreDisabled" id="tuesday" @bind-Value=totalGoalBuilder.Tuesday class="form-check"></InputCheckbox>
        </label>
        <label for="wednesday">
            Wednesday
            <InputCheckbox disabled="@daysAreDisabled" id="wednesday" @bind-Value=totalGoalBuilder.Wednesday class="form-check"></InputCheckbox>
        </label>
        <label for="thursday">
            Thursday
            <InputCheckbox disabled="@daysAreDisabled" id="thursday" @bind-Value=totalGoalBuilder.Thursday class="form-check"></InputCheckbox>
        </label>
        <label for="friday">
            Friday
            <InputCheckbox disabled="@daysAreDisabled" id="friday" @bind-Value=totalGoalBuilder.Friday class="form-check"></InputCheckbox>
        </label>
        <label for="saturday">
            Saturday
            <InputCheckbox disabled="@daysAreDisabled" id="saturday" @bind-Value=totalGoalBuilder.Saturday class="form-check"></InputCheckbox>
        </label>
        <label for="sunday">
            Sunday
            <InputCheckbox disabled="@daysAreDisabled" id="sunday" @bind-Value=totalGoalBuilder.Sunday class="form-check"></InputCheckbox>
        </label>
    </div>



    <button style="margin: 8px" type="submit" class="btn btn-primary">Generate plan preview</button>

    @if (isLoadPreviousButtonVissible)
    {
        <button style="margin: 8px" type="button" class="btn btn-secondary" @onclick="() => LoadPreviousPlan()">Load previous plan preview</button>
    }

</EditForm>


<Modal @ref="Modal" editGoalDay ="modalGoalDay" ></Modal>



<br />

@if (isCalendarVissible)
{
    currentCalendarDay = firstCalendarDay;
    dayIndex = 0;

    <h3> Calendar</h3>

    <table class="table" style="max-width : 1000px">
        <thead>
            <tr>
                <th width="14%">Monday</th>
                <th width="14%">TuesDay</th>
                <th width="14%">Wednesday</th>
                <th width="14%">Thursday</th>
                <th width="14%">Friday</th>
                <th width="14%">Saturday</th>
                <th width="14%">Sunday</th>
            </tr>
        </thead>
        <tbody>
            @while (currentCalendarDay <= endCalendarDay)
            {
                @if (lastPrintedMonth != currentCalendarDay.Month)
                {
                    <tr>
                        <td colspan="7"><h3>@currentCalendarDay.ToString("MMMM yyyy")</h3></td>
                    </tr>
                    lastPrintedMonth = currentCalendarDay.Month;
                }
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        @if (currentCalendarDay < startCalendarDay || currentCalendarDay > endCalendarDay)
                        {
                            <td style="color: grey; font-weight: 200;"> @currentCalendarDay.ToString("dd")</td>
                        }
                        else
                        {
                            DateTime cellCalendarDay = currentCalendarDay;
                            <td style="@GetStyle(currentCalendarDay)" @onclick="() =>CellClicked(cellCalendarDay)"> @currentCalendarDay.ToString("dd") </td>
                        }
                        currentCalendarDay = currentCalendarDay.AddDays(1);
                    }
                </tr>                
            }
        </tbody>
    </table>


}



@code {

    private void CellClicked(DateTime currentDay)
    {

        modalGoalDay = goal.Days.First(goalDay => goalDay.StartTime.Equals(currentDay));

        Modal.Open();
    }

    private Modal Modal { get; set; }
    private GoalDay modalGoalDay { get; set; } = new GoalDay();

    private Goal goal { get; set; } = null;
    private Goal previousGoal { get; set; } = null;

    private DateTime firstCalendarDay { get; set; }
    private DateTime startCalendarDay { get; set; }
    private DateTime endCalendarDay { get; set; }

    private DateTime currentCalendarDay { get; set; }

    private int lastPrintedMonth = -1;
    private bool isCalendarVissible = false;
    private bool isLoadPreviousButtonVissible = false;



    private bool daysAreDisabled { get; set; } = true;

    GoalBuilder totalGoalBuilder = new GoalBuilder();

    int dayIndex = 0;


    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(totalGoalBuilder);

        editContext.OnFieldChanged += EditContext_OnFieldChanged;

        base.OnInitialized();
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {

        if (e.FieldIdentifier.FieldName == "startDate")
        {
            totalGoalBuilder.endDate = totalGoalBuilder.startDate.AddDays(totalGoalBuilder.duration);
        }

        else if (e.FieldIdentifier.FieldName == "duration")
        {
            totalGoalBuilder.endDate = totalGoalBuilder.startDate.AddDays(totalGoalBuilder.duration);
        }

        else if (e.FieldIdentifier.FieldName == "endDate")
        {
            totalGoalBuilder.duration = (totalGoalBuilder.endDate - totalGoalBuilder.startDate).Days;
        }
        else if (e.FieldIdentifier.FieldName == "calendarValue")
        {
            if (totalGoalBuilder.calendarValue == 0)
            {

                daysAreDisabled = true;

                totalGoalBuilder.Monday = true;
                totalGoalBuilder.Tuesday = true;
                totalGoalBuilder.Wednesday = true;
                totalGoalBuilder.Thursday = true;
                totalGoalBuilder.Friday = true;
                totalGoalBuilder.Saturday = true;
                totalGoalBuilder.Sunday = true;
            }

            else if (totalGoalBuilder.calendarValue == 1)
            {

                daysAreDisabled = true;

                totalGoalBuilder.Monday = true;
                totalGoalBuilder.Tuesday = true;
                totalGoalBuilder.Wednesday = true;
                totalGoalBuilder.Thursday = true;
                totalGoalBuilder.Friday = true;
                totalGoalBuilder.Saturday = false;
                totalGoalBuilder.Sunday = false;
            }
            else
            {
                daysAreDisabled = false;
            }
        }
    }


    private void CreateCurrentGoal()
    {


        previousGoal = goal;


        if (previousGoal != null)
        {
            isLoadPreviousButtonVissible = true;
        }


        goal = new Goal();
        goal.Name = "Some name";


        startCalendarDay = totalGoalBuilder.startDate;

        lastPrintedMonth = -1;
        var startDayNumber = (int)startCalendarDay.DayOfWeek;
        startDayNumber = startDayNumber == 0 ? 7 : startDayNumber;
        Console.WriteLine("Start dayrt numbet " + startDayNumber);

        firstCalendarDay = startCalendarDay.AddDays(-startDayNumber + 1);
        endCalendarDay = totalGoalBuilder.endDate;

        currentCalendarDay = totalGoalBuilder.startDate;

        Console.WriteLine("Calendar Created. First day in week " + currentCalendarDay);

        while (currentCalendarDay <= totalGoalBuilder.endDate)
        {
            PropertyInfo pinfo = typeof(GoalBuilder).GetProperty(currentCalendarDay.DayOfWeek.ToString());
            if ((bool)pinfo.GetValue(totalGoalBuilder, null))
            {
                goal.Days.Add(new GoalDay { StartTime = currentCalendarDay });
            }
            currentCalendarDay = currentCalendarDay.AddDays(1);            
        }

        isCalendarVissible = true;

    }


    private string GetStyle(DateTime currentCalendarDay)
    {
        if (dayIndex == goal.Days.Count)
        {
            return "border: 2px dashed black; font-weight: 400;cursor: pointer;";
        }

        GoalDay currentGoalDay = goal.Days.ElementAt(dayIndex);
        Console.WriteLine("note:" + currentGoalDay.Note);

        if (currentGoalDay.StartTime == currentCalendarDay)
        {
            dayIndex++;
            return "border: 2px solid black; background-color: PaleGreen; font-weight: 600; cursor: pointer;";
        }
        return "border: 2px dashed black; font-weight: 400;cursor: pointer;";

    }


    private void LoadPreviousPlan()
    {
        goal = previousGoal;

        startCalendarDay = goal.Days.ElementAt(0).StartTime;

        var startDayNumber = (int)startCalendarDay.DayOfWeek;
        startDayNumber = startDayNumber == 0 ? 7 : startDayNumber;


        firstCalendarDay = startCalendarDay.AddDays(-startDayNumber + 1);
        endCalendarDay = goal.Days.ElementAt(goal.Days.Count - 1).StartTime;
    }

}


